<!DOCTYPE html>
<html>
    <head>
      {% load static %}
    </head>

    <body>
        <h1>테스트 ui</h1>
        <form id="image-upload-form" action="/detection/detectionweb/" method="post" enctype="multipart/form-data">
          {% comment %} {% csrf_token %} <!-- CSRF 토큰을 사용하는 경우 추가 --> {% endcomment %}
          <input type="file" name="image">
          <button type="submit">Upload Image</button>
        </form>
        <div>
          <img src="{{response_data.image}}">
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </body>
</html>
